﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Notifications", "ShowNotification", "Notification", new{id = User.Identity.GetUserId()}, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li>
                        @Html.ActionLink("Profile" , "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
                </ul>
            </li>
        </ul>
    }
    if (User.IsInRole("admin"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("UserList", "EditAllUsers", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Courses", "Index", "Course", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Notifications", "Index", "Notification", new { id = User.Identity.GetUserId()}, htmlAttributes: new { title = "Manage" })
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Courses", "AssignedCourses", "Course", new {id = User.Identity.GetUserId()}, htmlAttributes: new { title = "Manage" })
            </li>
            @if (User.IsInRole("listener"))
            {
                <li>
                    @Html.ActionLink("Scedule", "Details", "Course", new {id = User.Identity.GetUserId(), isUserId = true}, htmlAttributes: new { title = "Manage" })
                </li>
            }
        </ul>
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="@Url.Action("SignIn", "Account")"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
    </ul>
}