﻿@model IEnumerable<CourseManSystem.Models.CoursePlModel>

@{
    ViewBag.Title = "AssignedCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AssignedCourses</h2>

<p>@Html.ActionLink("New Course", "Create", null, new {@class = "btn btn-default"})</p>

@if (!Model.Any())
{
     <h3>You are not subscribed to any courses</h3>   
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfUpdating)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFinished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfCreation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfUpdating)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @if (!User.IsInRole("listener"))
                    {
                        @Html.ActionLink("Edit","Edit",new {id = item.Id})
                    }
                </td>
            </tr>
        }

    </table>
}

