﻿@using CourseManSystem.HalperExtentions
@using CourseManSystem.Models
@using MvcSchedule;
@using MvcSchedule.Objects;
@model IEnumerable<CourseManSystem.Models.TopicPlModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CoursePlModel</h4>
    <hr />
    @if (Model.Any())
    {
        @Html.Calendar(Model)
    }
    else
    {
        <p>Schedule doesn't contein any topics</p>
    }

</div>
<p>
    @Html.ActionLink("Back to List", "")
</p>

<script type="text/javascript">

    $(document).ready(function () {

        $('[data-toggle="popover"]').popover();
    });

</script>
