﻿@model IEnumerable<CourseManSystem.Models.UserPlModel>

@{
    ViewBag.Title = "Subscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subscribe listeners to course</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Subscribe", "Subscribe", new { courseId = @ViewBag.courseId, userId = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("To Course List", "Index", "Course")
</p>