﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Login Form
*/
.btn-facebook {
    background: #305c99;
    color: #fff;
}

.btn-google {
    background: #d24228;
    color: #fff;
}

.btn-google:hover {
    background: #b22222;
    color: #fff;
}

.btn-facebook:hover {
    background: green;
    color: #fff;
}
.social-icon {
    margin-right: 15px;
}

/*Calendar styles*/
.lesson {
    background-color: greenyellow;
}
.table-details td {
    border: solid 1px black;
    width: 30px;
    text-align: center;
}

.table-details {
    width: 30.33%;
    display: inline-block
}