﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*<div class="container">
    <form method="post">
        <div class="form-group">
            <label for="nn">UserProfile Name:</label>
            <input type="text" class="form-control" id="nn" placeholder="Enter Your Nickname" name="UserName">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="Password">
        </div>
        <div class="form-group">
            <label for="role">Your role:</label>
            <input type="text" class="form-control" id="role" placeholder="Enter Your Role" name="Role">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>*@