﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is a Main page of System</h1>
    <p class="lead">Users can use this platform for creating their own cources and also use it for listeners</p>
    <p>@Html.ActionLink("Sign In", "SignIn", "Account",null,new {@class="btn btn-default"})</p>
</div>
