﻿@model IEnumerable<CourseManSystem.Models.NotificationPlModel>

@{
    ViewBag.Title = "ShowNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowNotification</h2>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsViewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsViewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }

    </table>
}
else
{
    <h3>You haven't any notifications yet</h3>
}


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("To Profile Page", "Manage", "Account", null, new { @class = "btn btn-default " })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}