﻿@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<hr/>
<div>
    <h2>Your request finishied successfully</h2> 
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}
