﻿@{
    ViewBag.Title = "Congratulation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congratulation @ViewBag.UserName!!! You were successfully registred!!! </h2>
<p>Now you can use all abbilities of course managment system</p>
@Html.ActionLink("Login into system","SignIn","Account",null,new {@class= "btn btn-default" })


