﻿@model CourseManSystem.Models.ExternalRegistrationModel

@{
    ViewBag.Title = "ExternalLoginCallback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ExternalLoginCallback", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>

    <p class="text-info">
        You've successfully authenticated.
        Please Choose your feature role in system.
        You can choose new username in system (optional)
    </p>

    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Role, new SelectList(@ViewBag.Roles), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
