﻿@model CourseManSystem.Models.UserPlModel

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Name = Model.UserName;
}

<h2>Manage @Model.UserName profile</h2>


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Role, @ViewBag.Roles as List<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Reset Password", "ResetPassword", null, new { @class = "btn btn-default " })
            </div>
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Notification", "ShowNotification","Notification", new {id = Model.Id}, new { @class = "btn btn-default " })
            </div>
        </div>

    </div>
}


@if (User.IsInRole("admin"))
{
    <div>
        @Html.ActionLink("To the List of users", "EditAllUsers", "Account")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
