﻿@model  CourseManSystem.Models.LoginModel
@{
    ViewBag.Title = "Authorization in system";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorization</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.TextBoxFor(model => model.UserName, new { placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign In</button>
}

<br />
<hr/>

@using (Html.BeginForm("FacebookLogin", "Account", FormMethod.Post))
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="col-md-3">
        <button class="btn btn-block btn-facebook" type="submit">
            <i class="fa fa-facebook fa-align-left"> Facebook </i>
        </button>
    </div>
}

@using (Html.BeginForm("GoogleLogin", "Account", FormMethod.Post))
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="col-md-3">
        <button type="submit" class="btn btn-block btn-google" name="provider" value="Facebook">
            <i class="fa fa-google-plus fa-align-left social-icon" style=""> Google </i>
        </button>
    </div>
}
<br/>
<br />
@Html.ActionLink("Registration", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
