﻿@model CourseManSystem.Models.CoursePlModel

@{
    ViewBag.Title = "AddTopic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>EditAllUsers</title>
</head>

<h2>AddTopic</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Topic", new{id = Model.Id}, new { @class = "compItem" })
</p>

@if (Model.Topics.Count != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Description)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Day);
                </th>   
            }
            <th>
                @Html.DisplayNameFor(model => model.Topics.FirstOrDefault().Id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Topics)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.DisplayFor(modelItem => item.Day, new {htmlAttributes = new {@class = "picker"}})
                            </div>
                        </div>
                    </td>   
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class = "compItem" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id , courseid = Model.Id}, new { onclick = "return confirm('Are sure want to delete ?');" })           
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>This course hasn't Topics yet</h3>
}

@if (!User.IsInRole("listener"))
{
    @Html.ActionLink("To Course Page", "Edit", "Course", new {id = Model.Id}, null)
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function(e) {

                e.preventDefault();
                $.get(this.href,
                    function(data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                    });
            });
        });

        $(function() {
            $('.picker').datetimepicker(
                {
                    format: "DD/MM/YYYY"
                }).on('dp.change',
                function(e) {
                    $(this).data('DateTimePicker').hide();
                });
        });
    </script>
}

