﻿@model CourseManSystem.Models.TopicPlModel
@{
    ViewBag.Title = "Update topic";
    Layout = null;
}

<div class="modal-content">
    
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("Update","Topic",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>TopicPlModel</h4>
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
                @if (User.IsInRole("admin"))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Day, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Day, new {htmlAttributes = new {@class = "form-control picker" } })
                            @Html.ValidationMessageFor(model => model.Day, "", new {@class = "text-danger"})
                        </div>
                    </div>    
                }
                <div>
                    @Html.HiddenFor(model => model.CourseId)
                </div>
                <div>
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
